.titlebar {
    position:fixed;
    top:0%;
    background-color:#212121;
    width:100%;
    padding:2%;
    display:flex;
    height:5%;
}
body {
    margin:0%;
}
.spacerdiv {
    height:10%;
}
h1 {
    color:white;
    margin:0%;
    font-family:Monospace;
}
.hamburgerimg {
    height:100%;
}
#hamburgerbutton {
    padding:0%;
    border:none;
    margin-right:2%;
    font-size:100%;
}
#leftnav {
    width:20%;
    height:100%;
    position:fixed;
    background-color:#121212;
    left:0%;
    display:none;
}
a.leftnavtext {
    color:whitesmoke;
    font-family:arial;
    Text-align:center;
    padding:0%;
    font-size:150%;
    text-decoration:none;
}
a.leftnavtext:hover {
    color:lightgrey;
    text-decoration: darkgrey underline;
}
.leftnavdivlight {
    background-color:#303030;
    padding:1%;
}
.leftnavdivdark {
    background-color:#212121;
    padding:1%;
}
.leftnavtopdiv {
    margin:3.5%
}
.leftnavspacer {
    background-color:#121212;
}
h2 {
    font-family:Lucida Sans;
    padding:2.5%;
    font-size:200%;
    text-align:center;
    width:95%;
    background-color:lightgrey;
}
.fullimg {
    width:60%;
    margin-left:20%;
    border:5px solid lightgrey;
    border-radius:5%;
}
p {
    margin:5%;
    font-size:125%;
    font-family:Arial;
}
.leftnavspacer {
    height:13%;
    width:100%;
}
.videoiframe {
    height:90%;
    width:90%;
    margin:5%;
    border:none;
}
.galleryiframe {
    height:351px;
    width:90%;
    margin:5%;
    border:none;
}
.galleryflex {
    display:flex;
    height:fit-content;
    width:fit-content;
}
.flexsection {
    margin:10px;
    border:5px solid darkgrey;
    border-radius:10px;
}
.galleryimg {
    height:300px;
    border-radius:5px;
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    box-shadow:inset 0 0 5px #121212;
    background-color:#212121;
}
::-webkit-scrollbar-thumb {
    background:grey;
}
::-webkit-scrollbar-thumb:hover {
    background:darkgrey; 
}
ul {
    margin:5%
}
li {
    font-size:125%;
    font-family:Arial;
}